# Database Configuration
DATABASE_URL=sqlite:///./opengov.db
DATABASE_ECHO=false

# FastAPI Configuration
FAST_API_HOST=0.0.0.0
FAST_API_PORT=8000
FAST_API_ENV=development
FAST_API_DEBUG=true

# Logging
LOG_LEVEL=INFO
